<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>charactor_1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 161.000,76.000 }</string>	
								<string>{ 146.000,76.000 }</string>	
								<string>{ 133.000,19.000 }</string>	
								<string>{ 135.000,16.000 }</string>	
								<string>{ 145.000,12.000 }</string>	
								<string>{ 161.000,47.000 }</string>	
								<string>{ 162.000,60.000 }</string>
							</array>
							<array>	
								<string>{ 131.000,19.000 }</string>	
								<string>{ 133.000,19.000 }</string>	
								<string>{ 146.000,76.000 }</string>	
								<string>{ 146.000,80.000 }</string>	
								<string>{ 113.000,76.000 }</string>
							</array>
							<array>	
								<string>{ 180.000,47.000 }</string>	
								<string>{ 185.000,55.000 }</string>	
								<string>{ 184.000,62.000 }</string>	
								<string>{ 178.000,68.000 }</string>	
								<string>{ 172.000,69.000 }</string>	
								<string>{ 167.000,67.000 }</string>	
								<string>{ 163.000,53.000 }</string>	
								<string>{ 170.000,46.000 }</string>
							</array>
							<array>	
								<string>{ 80.000,69.000 }</string>	
								<string>{ 74.000,62.000 }</string>	
								<string>{ 74.000,53.000 }</string>	
								<string>{ 79.000,49.000 }</string>	
								<string>{ 92.000,50.000 }</string>	
								<string>{ 96.000,54.000 }</string>	
								<string>{ 96.000,62.000 }</string>	
								<string>{ 90.000,69.000 }</string>
							</array>
							<array>	
								<string>{ 102.000,238.000 }</string>	
								<string>{ 102.000,229.000 }</string>	
								<string>{ 106.000,225.000 }</string>	
								<string>{ 166.000,185.000 }</string>	
								<string>{ 159.000,217.000 }</string>	
								<string>{ 149.000,227.000 }</string>	
								<string>{ 136.000,234.000 }</string>	
								<string>{ 123.000,238.000 }</string>
							</array>
							<array>	
								<string>{ 105.000,77.000 }</string>	
								<string>{ 101.000,74.000 }</string>	
								<string>{ 102.000,47.000 }</string>	
								<string>{ 130.000,22.000 }</string>	
								<string>{ 113.000,76.000 }</string>
							</array>
							<array>	
								<string>{ 51.000,180.000 }</string>	
								<string>{ 47.000,172.000 }</string>	
								<string>{ 47.000,152.000 }</string>	
								<string>{ 113.000,80.000 }</string>	
								<string>{ 166.000,185.000 }</string>	
								<string>{ 62.000,185.000 }</string>
							</array>
							<array>	
								<string>{ 37.000,160.000 }</string>	
								<string>{ 28.000,160.000 }</string>	
								<string>{ 25.000,159.000 }</string>	
								<string>{ 47.000,106.000 }</string>	
								<string>{ 113.000,80.000 }</string>	
								<string>{ 47.000,152.000 }</string>
							</array>
							<array>	
								<string>{ 184.000,22.000 }</string>	
								<string>{ 186.000,30.000 }</string>	
								<string>{ 184.000,36.000 }</string>	
								<string>{ 178.000,42.000 }</string>	
								<string>{ 161.000,47.000 }</string>	
								<string>{ 145.000,12.000 }</string>	
								<string>{ 169.000,12.000 }</string>	
								<string>{ 178.000,16.000 }</string>
							</array>
							<array>	
								<string>{ 163.000,51.000 }</string>	
								<string>{ 166.000,48.000 }</string>	
								<string>{ 170.000,46.000 }</string>	
								<string>{ 163.000,53.000 }</string>
							</array>
							<array>	
								<string>{ 219.000,162.000 }</string>	
								<string>{ 211.000,156.000 }</string>	
								<string>{ 244.000,112.000 }</string>	
								<string>{ 248.000,121.000 }</string>	
								<string>{ 248.000,145.000 }</string>	
								<string>{ 244.000,154.000 }</string>	
								<string>{ 239.000,160.000 }</string>	
								<string>{ 232.000,163.000 }</string>
							</array>
							<array>	
								<string>{ 167.000,67.000 }</string>	
								<string>{ 162.000,60.000 }</string>	
								<string>{ 161.000,47.000 }</string>	
								<string>{ 163.000,53.000 }</string>
							</array>
							<array>	
								<string>{ 231.000,103.000 }</string>	
								<string>{ 239.000,107.000 }</string>	
								<string>{ 244.000,112.000 }</string>	
								<string>{ 211.000,156.000 }</string>	
								<string>{ 166.000,185.000 }</string>	
								<string>{ 211.000,108.000 }</string>	
								<string>{ 221.000,103.000 }</string>
							</array>
							<array>	
								<string>{ 209.000,179.000 }</string>	
								<string>{ 205.000,182.000 }</string>	
								<string>{ 197.000,185.000 }</string>	
								<string>{ 166.000,185.000 }</string>	
								<string>{ 211.000,156.000 }</string>	
								<string>{ 211.000,175.000 }</string>
							</array>
							<array>	
								<string>{ 92.000,50.000 }</string>	
								<string>{ 79.000,49.000 }</string>	
								<string>{ 79.000,47.000 }</string>	
								<string>{ 92.000,47.000 }</string>
							</array>
							<array>	
								<string>{ 17.000,150.000 }</string>	
								<string>{ 14.000,140.000 }</string>	
								<string>{ 14.000,106.000 }</string>	
								<string>{ 31.000,96.000 }</string>	
								<string>{ 42.000,101.000 }</string>	
								<string>{ 47.000,106.000 }</string>	
								<string>{ 25.000,159.000 }</string>
							</array>
							<array>	
								<string>{ 83.000,15.000 }</string>	
								<string>{ 86.000,15.000 }</string>	
								<string>{ 130.000,22.000 }</string>	
								<string>{ 102.000,47.000 }</string>	
								<string>{ 77.000,21.000 }</string>
							</array>
							<array>	
								<string>{ 74.000,46.000 }</string>	
								<string>{ 74.000,21.000 }</string>	
								<string>{ 77.000,21.000 }</string>	
								<string>{ 102.000,47.000 }</string>	
								<string>{ 79.000,47.000 }</string>
							</array>
							<array>	
								<string>{ 20.000,98.000 }</string>	
								<string>{ 25.000,96.000 }</string>	
								<string>{ 31.000,96.000 }</string>	
								<string>{ 14.000,106.000 }</string>
							</array>
							<array>	
								<string>{ 208.000,84.000 }</string>	
								<string>{ 208.000,86.000 }</string>	
								<string>{ 201.000,80.000 }</string>
							</array>
							<array>	
								<string>{ 124.000,16.000 }</string>	
								<string>{ 130.000,22.000 }</string>	
								<string>{ 86.000,15.000 }</string>	
								<string>{ 91.000,12.000 }</string>	
								<string>{ 115.000,12.000 }</string>
							</array>
							<array>	
								<string>{ 165.000,205.000 }</string>	
								<string>{ 159.000,217.000 }</string>	
								<string>{ 166.000,185.000 }</string>
							</array>
							<array>	
								<string>{ 211.000,89.000 }</string>	
								<string>{ 211.000,108.000 }</string>	
								<string>{ 166.000,185.000 }</string>	
								<string>{ 146.000,80.000 }</string>	
								<string>{ 201.000,80.000 }</string>	
								<string>{ 208.000,86.000 }</string>
							</array>
							<array>	
								<string>{ 50.000,86.000 }</string>	
								<string>{ 57.000,80.000 }</string>	
								<string>{ 113.000,80.000 }</string>	
								<string>{ 47.000,106.000 }</string>	
								<string>{ 48.000,90.000 }</string>
							</array>
							<array>	
								<string>{ 146.000,80.000 }</string>	
								<string>{ 166.000,185.000 }</string>	
								<string>{ 113.000,80.000 }</string>	
								<string>{ 113.000,76.000 }</string>
							</array>
							<array>	
								<string>{ 112.000,185.000 }</string>	
								<string>{ 166.000,185.000 }</string>	
								<string>{ 111.000,205.000 }</string>
							</array>
							<array>	
								<string>{ 111.000,205.000 }</string>	
								<string>{ 166.000,185.000 }</string>	
								<string>{ 106.000,225.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

