<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>64</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>charactor_1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -28.500,112.500 }</string>	
								<string>{ -28.500,110.500 }</string>	
								<string>{ -27.500,105.500 }</string>	
								<string>{ -23.500,100.500 }</string>	
								<string>{ -25.000,114.000 }</string>	
								<string>{ -26.000,114.000 }</string>
							</array>
							<array>	
								<string>{ -55.500,-69.500 }</string>	
								<string>{ -50.500,-75.500 }</string>	
								<string>{ -37.500,-76.500 }</string>	
								<string>{ -33.500,-69.500 }</string>	
								<string>{ -40.000,-55.000 }</string>	
								<string>{ -46.000,-54.000 }</string>	
								<string>{ -54.500,-60.500 }</string>
							</array>
							<array>	
								<string>{ 44.000,-55.000 }</string>	
								<string>{ 37.500,-57.500 }</string>	
								<string>{ 32.500,-63.500 }</string>	
								<string>{ 32.500,-70.500 }</string>	
								<string>{ 37.000,-76.000 }</string>	
								<string>{ 41.000,-78.000 }</string>	
								<string>{ 55.500,-65.500 }</string>	
								<string>{ 51.000,-58.000 }</string>
							</array>
							<array>	
								<string>{ 48.000,-78.000 }</string>	
								<string>{ 54.500,-71.500 }</string>	
								<string>{ 55.500,-65.500 }</string>	
								<string>{ 41.000,-78.000 }</string>
							</array>
							<array>	
								<string>{ 56.500,-94.500 }</string>	
								<string>{ 54.000,-88.000 }</string>	
								<string>{ 48.000,-82.000 }</string>	
								<string>{ 31.500,-77.500 }</string>	
								<string>{ 16.000,-112.000 }</string>	
								<string>{ 38.000,-112.000 }</string>	
								<string>{ 48.500,-107.500 }</string>	
								<string>{ 54.500,-101.500 }</string>
							</array>
							<array>	
								<string>{ -33.500,-62.500 }</string>	
								<string>{ -40.000,-55.000 }</string>	
								<string>{ -33.500,-69.500 }</string>
							</array>
							<array>	
								<string>{ -81.500,-33.500 }</string>	
								<string>{ -74.000,-43.000 }</string>	
								<string>{ -71.000,-44.000 }</string>	
								<string>{ 17.000,-44.000 }</string>	
								<string>{ -18.000,61.000 }</string>	
								<string>{ -83.000,28.000 }</string>	
								<string>{ -82.500,-18.500 }</string>
							</array>
							<array>	
								<string>{ -110.500,28.500 }</string>	
								<string>{ -115.500,14.500 }</string>	
								<string>{ -115.500,-16.500 }</string>	
								<string>{ -109.000,-26.000 }</string>	
								<string>{ -82.500,-18.500 }</string>	
								<string>{ -83.000,28.000 }</string>	
								<string>{ -89.000,34.000 }</string>	
								<string>{ -101.000,36.000 }</string>
							</array>
							<array>	
								<string>{ 102.000,39.000 }</string>	
								<string>{ 93.000,39.000 }</string>	
								<string>{ 81.500,32.500 }</string>	
								<string>{ 106.000,-19.000 }</string>	
								<string>{ 114.500,-11.500 }</string>	
								<string>{ 118.500,-2.500 }</string>	
								<string>{ 117.500,23.500 }</string>	
								<string>{ 110.000,35.000 }</string>
							</array>
							<array>	
								<string>{ -55.500,-100.500 }</string>	
								<string>{ -49.000,-107.000 }</string>	
								<string>{ -37.000,-112.000 }</string>	
								<string>{ -15.000,-112.000 }</string>	
								<string>{ 0.000,-102.000 }</string>	
								<string>{ 31.500,-77.500 }</string>	
								<string>{ -55.500,-78.500 }</string>
							</array>
							<array>	
								<string>{ 81.500,-34.500 }</string>	
								<string>{ 82.000,-16.000 }</string>	
								<string>{ 35.500,61.500 }</string>	
								<string>{ -25.000,114.000 }</string>	
								<string>{ -19.500,86.500 }</string>	
								<string>{ 17.000,-44.000 }</string>	
								<string>{ 70.000,-44.000 }</string>	
								<string>{ 75.500,-41.500 }</string>
							</array>
							<array>	
								<string>{ -79.500,54.500 }</string>	
								<string>{ -82.500,46.500 }</string>	
								<string>{ -83.000,28.000 }</string>	
								<string>{ -18.000,61.000 }</string>	
								<string>{ -67.000,61.000 }</string>	
								<string>{ -75.000,58.000 }</string>
							</array>
							<array>	
								<string>{ 78.000,56.000 }</string>	
								<string>{ 71.000,60.000 }</string>	
								<string>{ 35.500,61.500 }</string>	
								<string>{ 81.500,32.500 }</string>	
								<string>{ 81.500,50.500 }</string>
							</array>
							<array>	
								<string>{ 92.000,-21.000 }</string>	
								<string>{ 101.000,-21.000 }</string>	
								<string>{ 106.000,-19.000 }</string>	
								<string>{ 81.500,32.500 }</string>	
								<string>{ 35.500,61.500 }</string>	
								<string>{ 82.000,-16.000 }</string>
							</array>
							<array>	
								<string>{ -104.000,-28.000 }</string>	
								<string>{ -96.000,-27.000 }</string>	
								<string>{ -82.500,-18.500 }</string>	
								<string>{ -109.000,-26.000 }</string>
							</array>
							<array>	
								<string>{ 16.000,-112.000 }</string>	
								<string>{ 31.500,-77.500 }</string>	
								<string>{ 0.000,-102.000 }</string>	
								<string>{ 8.000,-109.000 }</string>
							</array>
							<array>	
								<string>{ -113.000,-22.000 }</string>	
								<string>{ -109.000,-26.000 }</string>	
								<string>{ -115.500,-16.500 }</string>
							</array>
							<array>	
								<string>{ 31.000,-48.000 }</string>	
								<string>{ 18.000,-48.000 }</string>	
								<string>{ 31.500,-77.500 }</string>	
								<string>{ 32.500,-70.500 }</string>	
								<string>{ 32.500,-50.500 }</string>
							</array>
							<array>	
								<string>{ -6.000,-108.000 }</string>	
								<string>{ 0.000,-102.000 }</string>	
								<string>{ -15.000,-112.000 }</string>
							</array>
							<array>	
								<string>{ -94.000,36.000 }</string>	
								<string>{ -101.000,36.000 }</string>	
								<string>{ -89.000,34.000 }</string>
							</array>
							<array>	
								<string>{ -25.000,-48.000 }</string>	
								<string>{ -27.500,-49.500 }</string>	
								<string>{ -28.000,-77.000 }</string>	
								<string>{ 31.500,-77.500 }</string>	
								<string>{ -17.000,-48.000 }</string>
							</array>
							<array>	
								<string>{ 29.000,93.000 }</string>	
								<string>{ 16.000,105.000 }</string>	
								<string>{ 6.000,110.000 }</string>	
								<string>{ -7.000,114.000 }</string>	
								<string>{ -25.000,114.000 }</string>	
								<string>{ 35.500,61.500 }</string>	
								<string>{ 36.500,76.500 }</string>	
								<string>{ 34.500,82.500 }</string>
							</array>
							<array>	
								<string>{ -50.500,-75.500 }</string>	
								<string>{ -51.000,-77.000 }</string>	
								<string>{ -32.000,-78.000 }</string>	
								<string>{ -37.500,-76.500 }</string>
							</array>
							<array>	
								<string>{ -51.000,-77.000 }</string>	
								<string>{ -55.500,-78.500 }</string>	
								<string>{ -32.000,-78.000 }</string>
							</array>
							<array>	
								<string>{ -23.500,100.500 }</string>	
								<string>{ -19.500,86.500 }</string>	
								<string>{ -25.000,114.000 }</string>
							</array>
							<array>	
								<string>{ 18.000,-48.000 }</string>	
								<string>{ 16.500,-47.500 }</string>	
								<string>{ -16.500,-44.500 }</string>	
								<string>{ -17.000,-48.000 }</string>	
								<string>{ 31.500,-77.500 }</string>
							</array>
							<array>	
								<string>{ -19.500,86.500 }</string>	
								<string>{ -18.000,61.000 }</string>	
								<string>{ 17.000,-44.000 }</string>
							</array>
							<array>	
								<string>{ 17.000,-44.000 }</string>	
								<string>{ -16.500,-44.500 }</string>	
								<string>{ 16.500,-47.500 }</string>
							</array>
							<array>	
								<string>{ -28.000,-77.000 }</string>	
								<string>{ -32.000,-78.000 }</string>	
								<string>{ 31.500,-77.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

